<div class="container">
    <form #empForm="ngForm" (ngSubmit)="saveData(empdata)">
        <div class="form-group">
            <label for="">Card Number</label> <br>
            <input type="text" name="cardNumber" ngModel>
        </div>
       
        <div class="form-group">
            <label for="cardOwnerName">Card Owner Name</label><br>
            <input type="text" name="cardOwnerName"  ngModel>
        </div>
       
       
        <div class="form-group">
            <label for="expirationDate">Expirty Date</label><br>
            <input type="text" name="expirationDate" ngModel>
        </div>
       
        <div class="form-group">
            <label for="securityCode">Security Code</label><br>
            <input type="text" name="securityCode" ngModel>
        </div>
       
        <div class="form-group">
            <button class="btn btn-primary my-3" type="submit">Submit</button>
        </div>
    </form>
</div>