<form #userData="ngForm" (ngSubmit)="submitData(userData)">
    <input type="text" fnamelement="ngModel"  name="fname" requierd ngModel />
    <div *ngIf="fnamelement.isValid || fnamelement.pristine">
        Name is Required
    </div>
    <input type="text" #lnamelement="ngModel" name="lname" ngModel />
    <div *ngIf="lnamelement.invalid && lnamelement && fnamelement.pristine ">
        Last Name is Required
    </div>

    <button [disabled]="userData.invalid" class="btn btn-primary" type="submit">Save</button>
</form>