<div class="container">
    <div class="jumbotron">
        <table class="table">
            <thead>
                <th>Employee Id</th>
                <th>Employee Name</th>
                <th>DateOfBirth</th>
                <th>EmailId</th>
                <th>Gender</th>
                <th>Address</th>
                <th>PinCode</th>
            </thead>
            <tbody>
                <tr *ngFor="let emp of items">
                    <td>{{emp.empId}}</td>
                    <td>{{emp.empName}}</td>
                    <td>{{emp.dateOfBirth}}</td>
                    <td>{{emp.emailId}}</td>
                    <td>{{emp.gender}}</td>
                    <td>{{emp.address}}</td>
                    <td>{{emp.pinCode}}</td>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>